<navbar>
  <div class="navbar-brand title">Standings</div>
</navbar>
<div class="container">
<div class="row">
<div class="col-sm-12">
<div ng-repeat="(name, pool) in standings">
  <h3 class="topcoat-list__header">{{name}}</h3>
  <ul class="list-group">
    <li ng-repeat="team in pool" class="list-group-item">
	    <span class="location">{{team.name}}:</span> {{team.wins}}-{{team.losses}}-{{team.ties}}
	    <button class="btn btn-default" style="margin-left: 20px; vertical-align: middle">Team Details</button>
    </li>
  </ul>
</div>
</div>

</div>
</div>

