<navbar>
	<div class="navbar-brand title">Free Footie - Admin</div>
</navbar>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<div class="btn-group">
			 	<button class="btn btn-default" ng-click="go('/admin/team')">&nbsp; Teams &nbsp;</button>
			  <button class="btn btn-default" ng-click="go('/admin/game')">&nbsp; Games &nbsp;</button>
			 	<button class="btn btn-default" ng-click="go('/admin/location')">&nbsp; Locations &nbsp;</button>
				<button class="btn btn-default" ng-click="go('/admin/div')">&nbsp; Divs &nbsp;</button>
		</div>
	</div>
</div>
