<navbar>
  <button class="btn btn-default pull-left" ng-click="go('/admin/location')">&lt; Back</button>
  <div class="navbar-brand title">Free Footie - Location Details</div>
  <button class="btn btn-default pull-right" ng-click="go('/admin/location/new')">Add</button>
</navbar>

<div class="container">
<div class="row">
<div class="col-sm-12">
<form name="locationForm" class="form-horizontal" ng-submit="save()">

<div class="form-group" ng-class="{'has-error':locationForm.name.$invalid}">
<label class="control-label col-sm-3">Name:</label>
<div class="col-sm-9">
    <input name="name" type="text" ng-model="location.name" class="form-control" required/>
</div>
</div>

<div class="form-group" ng-class="{'has-error':locationForm.address.$invalid}">
<label class="control-label col-sm-3">Address:</label>
<div class="col-sm-9">
     <textarea name="address" class="form-control" ng-model="location.address" required></textarea>
</div>
</div>

<div class="form-group" ng-class="{'has-error':locationForm.latitude.$invalid}">
<label class="control-label col-sm-3">Latitude:</label>
<div class="col-sm-3">
     <input name="latitude" type="text" ng-model="location.latitude" class="form-control" required/>
</div>
</div>


<div class="form-group" ng-class="{'has-error':locationForm.longitude.$invalid}">
<label class="control-label col-sm-3">Longitude:</label>
<div class="col-sm-3">
     <input name="longitude" type="text" ng-model="location.longitude" class="form-control" required/>
</div>
</div>
<button type="submit" class="btn btn-primary pull-right" ng-disabled="locationForm.$invalid">Save</button>
</form>
</div>
</div>
</div>



