<navbar>
  <button class="btn btn-default pull-left" ng-click="go('admin')">&lt; Back</button>
  <div class="navbar-brand title">Free Footie - Locations</div>
  <button class="btn btn-default pull-right" ng-click="go('/admin/location/new')">Add</button>
</navbar>

<div class="container">
<div class="row">
<div class="col-sm-12">
<ul class="list-group" >
		<li ng-repeat="location in locations | orderBy:'name'" ng-click="go('/admin/location/'+location._id)" class="list-group-item">
		{{location.name}}
		</li>
	</ul>
</div>
</div>
</div>