<navbar>
  <button class="btn btn-default pull-left" ng-click="go('admin')">&lt; Back</button>
  <div class="navbar-brand title">Free Footie - Teams</div>
</navbar>
<div class="container">
	<div ng-repeat="(div, teams) in divs">
  <h3>{{divisions[div].name}}</h3>
  <ul class="list-group">
    <li ng-repeat="team in teams | orderBy:'wins':true" class="list-group-item" ng-click="go('admin/team/' + team._id)">
     {{team.name}} ({{team.wins}}/{{team.losses}}/{{team.ties}})
     <span class="topcoat-list__expand"></span>
    </li>
    <li class="list-group-item edit-row">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="New Team Name" ng-model="teams.newTeam"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="add(teams.newTeam, div)">Add</button>
          </span>
        </div>
    </li>
  </ul>

</div>