<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
			<button class="topcoat-icon-button" ng-click="go('/admin/team')">< Back</button>
    </div>
	<div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">{{currentTeam.name}}</h1>
    </div>
</div>
<div class="topcoat-list">
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
        <property title="Team Name" model="currentTeam.name"></property>
        <property title="Coach" model="currentTeam.coach"></property>
        <property title="Coach Phone" model="currentTeam.phone"></property>
        <property title="Division" model="currentTeam.division" options="division._id as division.name for division in divisions"><property>
	    </li>
       <li ng-repeat="player in currentTeam.players" class="topcoat-list__item">
             {{player.number}}&nbsp - {{player.name}}
	    </li>
      <li class="edit-row" ng-show="needsSave">
        <button class="topcoat-button--cta" ng-click="update(currentTeam)" >Save</button>
        <button class="topcoat-button" ng-click="cancel()">Cancel</button>
      </li>
  </ul>
</div>
<div class="vs" style="margin-top:10px; font-weight: bold" ng-click="addPlayer()">+</div>
